
#bio-content {
	position: relative;
	margin-left: 5.5%;
	margin-right: 5.5%;
	background-color: gold;
	height:500px;

	
	padding: 50px;

}

#bio {
	position: absolute;
	color: red;
  	font-family: helvetica;
	font-size: 35px;
	font-weight: bold;
	width: 57%;

}

#profile {
	
	position: absolute;
	height: 450px;
	left: 835px;
	top: -100px;


}


#logo {
	color: red;
    	font-family: BLOCKS;
    	font-size: 150px;
	padding-left:5.5%;

}


a {
	color: red;
}

@font-face {
    	font-family: BLOCKS;
    	src: url(./fonts/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    	font-family: DTDumplingDisplay;
    	src: url(./fonts/DTDumplingDisplay-Regular.otf);
}

