
#intro-content {
	margin-left: 5.5%;
	margin-right: 5.5%;
	background-color: gold;
	height:500px;

	color: red;
  	font-family: DTDumplingDisplay;
	font-size: 60px;
	letter-spacing: .15em;
	
	padding: 50px;

}

p {

	margin: 0;

}

#logo {
	color: red;
    	font-family: BLOCKS;
    	font-size: 150px;
	padding-left:5.5%;

}

.white {

	color: white;

}

a {
	color: red;
}

@font-face {
    	font-family: BLOCKS;
    	src: url(./fonts/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    	font-family: DTDumplingDisplay;
    	src: url(./fonts/DTDumplingDisplay-Regular.otf);
}

