
#intro-content {
	margin-left: 5.5%;
	margin-right: 5.5%;
	background-color: gold;
	height:500px;
	
	padding: 50px;

}

#intro-text {

	margin-right: 15%;

}

.text {

	color: red;
  	font-family: DTDumplingDisplay;
	font-size: 60px;

	overflow: hidden;
  	border-right: .15em solid red;
  	white-space: nowrap;
  	margin: 0;
  	letter-spacing: .15em;

}

#lisa-artwork {
	position: relative;
}

#screen-off {
	position: absolute;
    	height: 450px; 

	left: 500px;
	top: -100px;
}
#screen-on {
	position: absolute;
    	height: 450px; 

	left: 500px;
	top: -100px;
}

#cables {

	position: absolute;
	height: 300px;

	left: -225px;
	top: 500px;

}


#fingerprint {

	position: absolute;
	height: 150px;

	left: 1050px;
	top: 250px;

	transform: rotate(26.5deg);

}

#lisa-artwork img#screen-on {
	display: none;  
}
#lisa-artwork:hover img#screen-on {
 	display: inline;  
}
#lisa-artwork:hover img#screen-off {
	display: none;  
}

#fingerprint-container { 

	opacity: 0%;
	transition: all 1s ease;

}

#lisa-artwork:hover + #fingerprint-container { 

	opacity: 100%;
	transition: all 5s ease;

}



#logo {
	color: red;
    	font-family: BLOCKS;
    	font-size: 150px;
	padding-left:5.5%;

}


#intro-text p:nth-child(1) {
	opacity: 0;
	animation:
	typing-line1 3.5s steps(29, end) forwards,
    	cursor .5s step-end infinite;
}
#intro-text p:nth-child(2) {
  	opacity: 0;
  	animation: 
   	typing-line2 3.5s steps(29, end) forwards,
    	cursor .5s step-end infinite;
  	animation-delay: 3.7s;
}
#intro-text p:nth-child(3) {
  	opacity: 0;
  	animation: 
    	typing-line3 3.5s steps(29, end) forwards,
    	cursor .5s step-end infinite;
  	animation-delay: 7.4s;
}
#intro-text p:nth-child(4) {
  	opacity: 0;
  	animation: 
    	typing-end 2.5s steps(29, end) forwards,
    	cursor .5s step-end infinite;
  	animation-delay: 11s;
}

@keyframes typing-line1 {
  	1% {
    		opacity: 1;
  	}
  	from { width: 0 }
  	to { width: 950px }
  	99.9% {
    		border-right: .15em solid red;
  	}
  	100% {
    		opacity: 1;
    		border: none;
  	}
}
@keyframes typing-line2 {
  	1% {
    		opacity: 1;
  	}
  	from { width: 0 }
  	to { width: 850px }
  	99.9% {
    		border-right: .15em solid red;
  	}
  	100% {
    		opacity: 1;
    		border: none;
  	}
}
@keyframes typing-line3 {
  	1% {
    		opacity: 1;
  	}
  	from { width: 0 }
  	to { width: 750px }
  	99.9% {
    		border-right: .15em solid red;
  	}
  	100% {
    		opacity: 1;
    		border: none;
  	}
}

@keyframes typing-end {
  	1% {
    		opacity: 1;
  	}
  	from { width: 0 }
  	to { width: 500px }
  	99.9% {
    		border-right: .15em solid red;
  	}
  	100% {
    		opacity: 1;
  	}
}

@keyframes cursor{
  	from, to { border-color: transparent }
  	50% { border-color: red }
}


.white {

	color: white;

}

a {
	color: red;
}

@font-face {
    	font-family: BLOCKS;
    	src: url(./fonts/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    	font-family: DTDumplingDisplay;
    	src: url(./fonts/DTDumplingDisplay-Regular.otf);
}

