#logo {
	color: red;
    	font-family: BLOCKS;
    	font-size: 150px;
	padding-left:5.5%;

}


#resume-content {
	position: relative;
  	margin-left: 5.5%;
  	margin-right: 5.5%;
  	background-color: gold;
  	height: 2200px;
  	padding:50px;
}

.section {
    	position: relative;
    	color: red;
    	font-family: DTDumplingDisplay;
    	font-size: 45px;
    	width: 50%;
    	height: 55px;
    	top: -15px;
    	left: 25px;
    	border-bottom: .15em solid red;
    	Margin-bottom: 0.5em;

}

.content {
    	color: red;
    	font-family: helvetica;
    	position: relative;
    	top: -15px;
    	left: 25px;
    	width: 50%;
}

.content p {
    	margin: 0em;
}

.content .sub-title {
    	font-weight: bold;
    	font-size: 24px;


}

.content .sub-content {
    	font-style: italic;
    	font-size: 20px;


}

.content .list-content {
    	font-style: italic;
    	font-size: 20px;
    	margin-bottom: 0.5em;

}

@font-face {
    	font-family: DTDumplingDisplay;
    	src: url(./fonts/DTDumplingDisplay-Regular.otf);
}


@font-face {
    	font-family: BLOCKS;
    	src: url(./fonts/BLOCKS-ONBLOCKS.otf);
}


a {

   	color: red

}

ul {
  	list-style-type: square;
  	list-style-position: inside;
  	padding-left: 0;
}



